@model TAXIDIP1.Models.Accounts

@{
    ViewData["Title"] = "AdminDetails";
}

<h2>AdminDetails</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBlocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    @{if (Model.IsBlocked != true)
        {
            <a asp-action="Ban" asp-route-id="@Model.Id">Заблокировать</a>
        }
        else
        {
            <a asp-action="Unban" asp-route-id="@Model.Id">Разблокировать</a>
        }
    }
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index" asp-controller="Feedbacks">Вернуться к списку</a>
</div>
